{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

&nbsp;

<form class="text-center">

<!-- greeting depends on time-->
    <h1 class="display-4" id="hello"></h1>

        <script>
          var d = new Date();
          var n = d.getHours();
          if (n < 12){
        	    document.getElementById("hello").innerHTML = "GOOD MORNING";
            }else if (n < 18){
        	    document.getElementById("hello").innerHTML = "GOOD AFTERNOON";
            }else {
        	    document.getElementById("hello").innerHTML = "GOOD EVENING";
            }
        </script>

&nbsp;

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm">
            <div class="col-sm">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">TIME:</h5>
                        <!-- thanks for local time:  https://www.timeanddate.com/clocks/free.html -->
                        <p class="card-text">Current time for Glenview, IL:<br>
                        <div style="text-align:center;padding:1em 0;"> <iframe src="http://free.timeanddate.com/clock/i6kvzpqk/n64/fs24/tt0/tw0/tm1/ts1/tb4" frameborder="0" width="148" height="57"></iframe></div><br>
                        Click on clock to get more information<br>
                        such as moon phase, sunset/sunrise time etc.</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">USEFUL LINKS:</h5>

                        <p class="card-text">Watch Value (to buy)<br>
                        <a href="https://chronofy.com/"target="_blank">Chronofy</a></p>

                        <p class="card-text">Watch Market Value<br>
                        <a href="https://chrono24.com/"target="_blank">Chrono24</a></p>

                        <p class="card-text">Pocket Watch Info<br>
                        <a href="https://pocketwatchdatabase.com/"target="_blank">PW DataBase</a></p>

                        <p class="card-text">Rolex Watch Year Production <br> (have serial number ready)<br>
                        <a href="https://www.bobswatches.com/rolex-serial-numbers"target="_blank">Rolex Year</a></p>

                        <p class="card-text">Citizen Instructions <br> (have model number ready)<br>
                        <a href="https://www.citizenwatch.com/us/en/setting-instructions.html"target="_blank">Citizen</a></p>

                        <p class="card-text">Seiko Instructions <br> (have model number ready)<br>
                        <a href="https://www.seikowatches.com/us-en/customerservice/instruction?language=English"target="_blank">Seiko</a></p>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">ANY USEFUL INFO:</h5>
                        <p class="card-text">ANY<br>
                                            USEFUL<br>
                                            INFORMATION<br>
                                            CAN<br>
                                            BE<br>
                                            HERE (dvorkin/casker phone number etc)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">OUR INFO:</h5>
                        <p class="card-text"><u>Phone:</u> 847-729-7400<br>
                                            <u>Fax:</u> 847-729-7405<br>
                                            <u>Email:</u> info@mjwatchservice.com<br>
                                            <u>Address:</u> 2200 Waukegan rd, Ste.P,<br>
                                            Glemview, IL 60025<br>
                                            <b><u>Hours:</u></b><br>
                                            Weekdays: 9am - 6 pm<br>
                                            Saturdays: 9am - 4pm<br>
                                            Sundays: CLOSED
                        </p>

                        <p class="card-text">MJ Website<br>
                        <a href="https:/mjwatchservice.com/" target="_blank">mjwatchservice.com</a></p>

                        <p class="card-text">MJ Mail<br>
                        <a href="https://www.bluedomino.com/secure/login.html?showWebmailTab=1" target="_blank">Mail</a></p>

                        <p class="card-text">MJ Yelp<br>
                        <a href="https://www.yelp.com/biz/mj-watch-service-glenview?osq=mj+watch+service" target="_blank">Yelp</a></p>

                    </div>
                </div>
            </div>

</form>



{% endblock %}